<form
  [formGroup]="addClientForm"
  class="max-w-lg mx-auto"
  (ngSubmit)="registerClient()"
>
  <div class="m-5">
    <h2 class="mb-2 text-gray-900 font-medium">Datos del cliente</h2>
    <div class="mb-5">
      <label for="nit" class="block mb-2 text-sm text-gray-900"
        >Ingrese NIT:</label
      >
      <input
        type="number"
        id="nit"
        formControlName="nit"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 focus:bg-blue-50 block w-full p-2.5"
        placeholder="1100500600"
        [ngClass]="{
          'border-red-500':
            hasErrors('nit', 'required') ||
            hasErrors('nit', 'min') ||
            hasErrors('nit', 'pattern'),
          'border-green-600':
            !hasErrors('nit', 'required') &&
            wasItTouched('nit') &&
            !hasErrors('nit', 'pattern') &&
            !hasErrors('nit', 'min')
        }"
      />
      @if (hasErrors('nit','required')) {
      <span class="text-red-600 text-sm"
        >* NIT requerido (sin puntos de separación)</span
      >
      } @if (hasErrors('nit', 'pattern')) {
      <span class="text-red-600 text-sm"
        >* Ingrese solo números (sin puntos de separación)</span
      >
      } @else if (hasErrors('nit', 'min')) {
      <span class="text-red-600 text-sm">* Mínimo 8 dígitos</span>
      }
    </div>

    <div class="mb-5">
      <label for="razonSocial" class="block mb-2 text-sm text-gray-900"
        >Ingrese la razón social:</label
      >
      <input
        type="text"
        id="razonSocial"
        formControlName="razonSocial"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 focus:bg-blue-50 block w-full p-2.5"
        placeholder="PaterTronick Company"
        [ngClass]="{
          'border-red-500':
            hasErrors('razonSocial', 'required') ||
            hasErrors('razonSocial', 'minlength'),
          'border-green-600':
            !hasErrors('razonSocial', 'required') &&
            wasItTouched('razonSocial')
        }"
      />
      @if (hasErrors('razonSocial','required')) {
      <span class="text-red-600 text-sm">* Razón social requerida</span>
      } @if (hasErrors('razonSocial', 'minlength')) {
      <span class="text-red-600 text-sm">* Mínimo 4 caracteres</span>
      }
    </div>

    <div class="mb-5">
      <label for="celular" class="block mb-2 text-sm text-gray-900"
        >Ingrese su número de teléfono:</label
      >
      <input
        type="phone"
        id="celular"
        formControlName="celular"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="321 456 7890"
        [ngClass]="{
          'border-red-500':
            hasErrors('celular', 'required') ||
            hasErrors('celular', 'min') ||
            hasErrors('celular', 'pattern'),
          'border-green-600':
            !hasErrors('celular', 'required') &&
            wasItTouched('celular') &&
            !hasErrors('celular', 'pattern') &&
            !hasErrors('celular', 'min')
        }"
      />
      @if (hasErrors('celular','required')) {
      <span class="text-red-600 text-sm">* Teléfono requerido</span>
      } @if (hasErrors('celular', 'pattern')) {
      <span class="text-red-600 text-sm"
        >* Ingrese solo números (sin puntos de separación)</span
      >
      } @else if (hasErrors('celular', 'min')) {
      <span class="text-red-600 text-sm">* Mínimo 10 dígitos</span>
      }
    </div>

    <div class="mb-5">
      <label for="email" class="block mb-2 text-sm text-gray-900"
        >Ingrese su correo:</label
      >
      <input
        type="email"
        id="email"
        formControlName="email"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 focus:bg-blue-50 block w-full p-2.5"
        placeholder="su-email@domicio.com"
        [ngClass]="{
          'border-red-500':
            hasErrors('email', 'required') || hasErrors('email', 'email'),
          'border-green-600':
            !hasErrors('email', 'required') && wasItTouched('email')
        }"
      />
      @if (hasErrors('email','required')) {
      <span class="text-red-600 text-sm">* Correo requerido</span>
      } @if (hasErrors('email', 'email')) {
      <span class="text-red-600 text-sm">* Correo inválido</span>
      }
    </div>

    <div class="mb-5">
      <label for="direccion" class="block mb-2 text-sm text-gray-900"
        >Ingrese su dirección:</label
      >
      <input
        type="text"
        id="direccion"
        formControlName="direccion"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 focus:bg-blue-50 block w-full p-2.5"
        placeholder="Calle 10 # 15 - 22. Medellín"
        [ngClass]="{
          'border-red-500':
            hasErrors('direccion', 'required') ||
            hasErrors('direccion', 'minlength'),
          'border-green-600':
            !hasErrors('direccion', 'required') && wasItTouched('direccion')
        }"
      />
      @if (hasErrors('direccion','required')) {
      <span class="text-red-600 text-sm">* Dirección requerida</span>
      } @if (hasErrors('direccion', 'minlength')) {
      <span class="text-red-600 text-sm">* Mínimo 8 caracteres</span>
      }
    </div>

    <h2 class="mb-2 mt-8 text-gray-900 font-medium">
      Datos del servicio a solicitar
    </h2>

    <label for="servicio" class="block mb-2 text-sm text-gray-900"
      >Seleccionar tipo de servicio:</label
    >
    <select
      id="servicio"
      formControlName="servicio"
      class="bg-gray-50 mb-4 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-indigo-500 focus:bg-blue-50 focus:ring-2 focus:ring-indigo-200 block w-full p-2.5"
      [ngClass]="{
        'border-red-500': hasErrors('servicio', 'required'),
        'border-green-600':
          !hasErrors('servicio', 'required') && wasItTouched('servicio')
      }"
    >
      @for (servicio of typeServices; track $index) {
      <option value="{{ servicio }}">{{ servicio }}</option>
      }
    </select>

    <div class="mb-5">
      <label for="valorActivo" class="block mb-2 text-sm text-gray-900"
        >Ingrese el valor a solicitar:</label
      >
      <input
        type="number"
        id="valorActivo"
        formControlName="valorActivo"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 focus:bg-blue-50 block w-full p-2.5"
        placeholder="$10.000.000"
        [ngClass]="{
          'border-red-500':
            hasErrors('valorActivo', 'required') ||
            hasErrors('valorActivo', 'min') ||
            hasErrors('valorActivo', 'pattern'),
          'border-green-600':
            !hasErrors('valorActivo', 'required') &&
            wasItTouched('valorActivo') &&
            !hasErrors('valorActivo', 'pattern') &&
            !hasErrors('valorActivo', 'min')
        }"
      />
      @if (hasErrors('valorActivo','required')) {
      <span class="text-red-600 text-sm"
        >* Valor requerido (sin puntos de separación)</span
      >
      } @if (hasErrors('valorActivo', 'pattern')) {
      <span class="text-red-600 text-sm"
        >* Ingrese solo números (sin puntos de separación)</span
      >
      } @else if (hasErrors('valorActivo', 'min')) {
      <span class="text-red-600 text-sm"
        >* Valor mínimo a solicitar: $100.000</span
      >
      }
    </div>

    <div class="mb-5">
      <label for="plazoMaximo" class="block mb-2 text-sm text-gray-900"
        >Ingrese el plazo máximo en meses:</label
      >
      <input
        type="number"
        id="plazoMaximo"
        formControlName="plazoMaximo"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 focus:bg-blue-50 block w-full p-2.5"
        placeholder="Entre 36 a 120 meses"
        [ngClass]="{
          'border-red-500':
            hasErrors('plazoMaximo', 'required') ||
            hasErrors('plazoMaximo', 'min') ||
            hasErrors('plazoMaximo', 'max'),
          'border-green-600':
            !hasErrors('plazoMaximo', 'required') &&
            wasItTouched('plazoMaximo') &&
            !hasErrors('plazoMaximo', 'min') &&
            !hasErrors('plazoMaximo', 'max')
        }"
      />
      @if (hasErrors('plazoMaximo','required')) {
      <span class="text-red-600 text-sm"
        >* Plazo máximo requerido (sin puntos de separación)</span
      >
      } @else if (hasErrors('plazoMaximo', 'min')) {
      <span class="text-red-600 text-sm">* Desde 36 meses</span>
      } @else if (hasErrors('plazoMaximo', 'max')) {
      <span class="text-red-600 text-sm">* Hasta 120 meses</span>
      }
    </div>

    <label for="periodoCanon" class="block mb-2 text-sm text-gray-900"
      >Seleccione el periodo del canon:</label
    >
    <select
      id="periodoCanon"
      formControlName="periodoCanon"
      class="bg-gray-50 mb-4 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-indigo-500 focus:bg-blue-50 focus:ring-2 focus:ring-indigo-200 block w-full p-2.5"
      [ngClass]="{
        'border-red-500': hasErrors('periodoCanon', 'required'),
        'border-green-600':
          !hasErrors('periodoCanon', 'required') && wasItTouched('periodoCanon')
      }"
    >
      <option value="1">Mensual</option>
      <option value="3">Trimestral</option>
      <option value="6">Semestral</option>
    </select>
  </div>

  <div class="mt-6 flex items-center justify-center space-x-2">
    <button
      type="submit"
      class="my-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2"
    >
      Guardar
      <svg
        class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"
        />
      </svg>
    </button>
  </div>
</form>
