<!-- Main Content -->
<section class="container mx-auto my-10 p-4 bg-white rounded-lg shadow">
  <section>
    <h2 class="text-3xl font-semibold mb-6">
      Servicio de Leasing de Bancolombia
    </h2>
    <p class="mb-4">
      En Bancolombia, entendemos la importancia de contar con los equipos y
      herramientas necesarios para el crecimiento de su empresa. Nuestro
      servicio de Leasing está diseñado para proporcionar una solución
      financiera flexible y eficiente que le permite acceder a los bienes que
      necesita sin afectar su flujo de caja.
    </p>
    <p class="mb-4">
      Con el Leasing de Bancolombia, usted puede adquirir vehículos, maquinaria,
      equipos tecnológicos y más, a través de contratos de arrendamiento con
      opción de compra. Esto le permite disfrutar de los siguientes beneficios:
    </p>
    <ul class="list-disc list-inside mb-4">
      <li>Optimización de su flujo de caja.</li>
      <li>Mejora en la gestión fiscal y contable de sus activos.</li>
      <li>Flexibilidad en los plazos y condiciones del contrato.</li>
      <li>Acceso a equipos y tecnologías de última generación.</li>
    </ul>
    <p class="mb-4">
      Nuestro equipo de expertos está listo para asesorarlo y ofrecerle una
      solución a la medida de sus necesidades. Confíe en Bancolombia para llevar
      su negocio al siguiente nivel con nuestro servicio de Leasing.
    </p>
    <a
      (click)="goAddClient()"
      class="bg-blue-900 text-white py-2 px-4 rounded hover:bg-blue-700"
      >Solicita tu servicio</a
    >
  </section>
</section>
